{% extends 'base.html' %}

{% block title %}Home{% endblock title %}
{% block content %}
<div style=" display: inline-block">
    <p><button class="btn btn-danger" style="padding:10px 20px; "><a href="{% url 'report_list' %}">Explore Cybersecurity Reports</a></button></p>
</div>
{#{% if user.is_authenticated and user.years_experience > 1 or user.years_experience == 0 %}#}
{#<p>Hello {{ user.username }}! You have {{ user.years_experience }} years of experience as a writer.</p>#}
{#    <p><a href="{% url 'logout' %}">Log Out</a></p>#}
{#    <p><a class="btn btn-primary btn-lg" href="{% url 'report_list' %}" role="button">View all the reports</a></p>#}
{##}
{##}
{#{% endif %}#}
{#{% if user.is_authenticated and user.years_experience == 1 %}#}
{#<p>Hello {{ user.username }}! You have {{ user.years_experience }} year of experience as a writer.</p>#}
{#<a href="{% url 'logout' %}">Log Out</a>#}
{#{% endif %}#}
{#{% if not user.is_authenticated %}#}
{#<p>You are not logged in</p>#}
{#<a href="{% url 'login' %}">Log In</a>#}
{#<a href="{% url 'signup' %}">Sign Up</a>#}
{#{% endif %}#}
{% endblock content %}
