{% extends 'base.html' %}

{% block title %}Cyber Reports{% endblock title %}

{% block content %}
    <div class="container my-5">
        {% if report_list %}
            {% for report in report_list %}
                <div class="card mb-4">
                    <div class="card-body">
                        <h3 class="card-title"><a href="{% url 'report_detail' report.pk %}" class="text-dark">{{ report.title }}</a></h3>
                        <h6 class="card-subtitle mb-2 text-muted">Author: {{ report.author }}</h6>
                        <p class="card-text">{{ report.body|truncatechars:150 }}</p>
                        {% if user == report.author %}
                            <a href="{% url 'report_edit' report.pk %}" class="btn btn-outline-warning btn-sm mr-2">Edit</a>
                            <a href="{% url 'report_delete' report.pk %}" class="btn btn-outline-danger btn-sm">Delete</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h1 class="text-center mt-5">No Chronicles to Explore</h1>
        {% endif %}
    </div>
{% endblock content %}