{% extends 'base.html' %}

{% block title %}Cyber Reports{% endblock title %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            {% if reports %}
                {% for report in reports %}
                    <div class="card mb-4">
                        <div class="card-body">
                            <h3 class="card-title"><a href="{% url 'report_detail' report.pk %}" class="text-dark">{{ report.title }}</a></h3>
                            <h6 class="card-subtitle mb-2 text-muted">Author: {{ report.author }}</h6>
                            <p class="card-text">{{ report.body|truncatechars:150 }}</p>
                            {% if user == report.author %}
                                <div class="btn-group">
                                    <a href="{% url 'report_edit' report.pk %}" class="btn btn-outline-warning btn-sm">Edit</a>
                                    <a href="{% url 'report_delete' report.pk %}" class="btn btn-outline-danger btn-sm">Delete</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}

                <div class="pagination">
                    <span class="pagination-links">
                        {% if page_obj.has_previous %}
                            <a href="?page={{ page.previous_page_number }}">Previous</a>
                        {% endif %}
                        <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">Next</a>
                        {% endif %}
                    </span>
                </div>
            {% else %}
                <h2>No reports available</h2>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}

